#contenedor_juego {
  margin: 0;
  height: 100svh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--var-gap-s);
  background-color: var(--var-color-background-color);
}
